.main {
    // display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    //height: 80vh;
}
.container {
    background-color: #302c42;
    //height: 100vh;
    //padding: 20px;
}