.main {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  background-color: #302c42;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    min-width: 50vw;
    justify-content: space-between;
    gap: 25px;
  }
}

#root {
  background-color: #302c42;
  font-family: "Roboto Mono", monospace;
}
