@import "./core/reset";
@import "./layout/main";
@import "./layout/header";
@import "./layout/preview";
@import "./layout/form";
@import "./layout/footer";

.main {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    min-width: 50vw;
    justify-content: space-between;
    gap: 2rem;
  }
}

.main .input::placeholder,
.textarea::placeholder {
  color: #ffffff;
}

.main .preview {
  // padding: 20px;
}

// .btn-color {
//   border-radius: 20px;
//   width: 85px;
//   height: 30px;
//   font-weight: bold;
// }

// .btn-color-dark {
//   background-color: black;
//   color: white;
// }

.hidden {
  display: none;
}
